body{
	background:#251b3f;
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding-bottom:30px;
	}

h1,h2,h3,h4,h5,h6{ font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; text-transform:uppercase; font-weight:700; line-height:1.4em; color:#555555; }
h1{ font-size:35px; }
h2{ font-size:33px; }
h3{ font-size:30px; }
h4{ font-size:28px; }
h5{ font-size:25px; }
h6{ font-size:20px; }

.banner{width: 100%; display: block;}
.banner .banner-image{ width: 100%}
p{ font-size:16px; line-height:1.7em; color:#555555; margin-bottom:20px; }

a{ color:#444444; text-decoration:none; }
a:hover{ color:#31af91; }
a:visited { color: #821e6f; }
a:active { color: #f1616e; }

.techtable {
    background-color: #e5f3f0;
    color: #222;
    margin: 1em 0;
    border: 1px solid #a2a9b1;
    border-collapse: collapse;
}
thead {
    display: table-header-group;
    vertical-align: middle;
    border-color: inherit;
}
table {
    border-collapse: separate;
    border-spacing: 2px;
}
td {
    display: table-cell;
    vertical-align: inherit;
}
.techtable > tr > th, .techtable > tr > td, .techtable > * > tr > th, .techtable > * > tr > td {
    border: 1px solid #a2a9b1;
    padding: 0.2em 0.4em;
}

.clear{ clear: both; }
.wrapper{ width:100%; }

.first{ margin-left:0px; }
.last{ margin-right:0px; }

.post{	background:#FFFFFF;	margin-bottom:40px;	}
.post .post-margin{ padding-left:8%; padding-right:8%; padding-top:5%; padding-bottom:5%; }
.post .post-title{ margin-bottom:5px; color:#444444; }

.post-avatar{ height:70px; width:70px; float:left; margin-right:20px; }
.post-avatar .avatar-frame{ border-radius: 70px; height:70px; width:70px; position:absolute; }

.post .readmore{ text-transform:uppercase; font-weight:700; text-align: center;}
.post .readmore img {margin-left: 5px;}

.post .main-image{ width:100%; height:350px; }
.post .main-image img{ width:100%; height:350px; object-fit: cover;}
.post .main-image iframe{ width:100%; height:343px; }

.post .post-icon{ width:80px; height:80px; position:relative; bottom:40px; margin:0 auto; z-index:1000 }
.post-icon .fa-stack{ height:80px; width:80px; font-size:40px; }
.post-icon .fa-picture-o{ font-size:30px; }
.post-icon .fa-circle{ color:#FFFFFF; }
.post-icon .fa-inverse{ color:#31af91; }

ul{ list-style: none;}

.widget-container{ background:#FFFFFF; margin-bottom:30px; padding-bottom:20px; }
.widget-title{
	padding:20px;
	padding-bottom:20px;
	font-size:14px;
	color:#343434;
	border-bottom:1px solid #EEEEEE;
	margin-bottom:20px;
	}

.round{ border-radius: 70px; }
       
.widget-container ul{ margin-left:20px; margin-right:20px; font-size:16px; }
.widget-container li{ border-bottom:1px solid #EEEEEE; padding-bottom:10px; padding-top:10px; }
.widget-container li:first-child{ border-top:none; }
.widget-container li:last-child{ border-bottom:none; }

.widget-container .searchform div{ padding:20px; margin-bottom:0px; }
.widget-container .searchform label{ display:none; }
.widget-container .searchform input{ outline:none; }
.widget-container .searchform #s{ padding:10px; padding-top:8px; padding-bottom:8px; margin-right:0px; float:left; background:#343434; color:#FFFFFF; border:none; }
.widget-container .searchform #searchsubmit{ margin-left:0px; float:left; padding:8px; padding-left:8px; padding-right:8px; text-transform:uppercase; font-weight:700; }
.widget-container .searchform #searchsubmit{ background:#398d59;; border:none; color:#FFFFFF; }
.button{outline:none; margin:5px; float:left; padding:5px;  text-transform:uppercase; font-weight:700;background:#398d59;; border:none; color:#FFFFFF;}

.widget-container p{ margin-left:20px; margin-right:20px; font-size:14px; }

.widget-container ul{ margin-left:20px; margin-right:20px; font-size:16px; }
.widget-container li{ border-bottom:1px solid #EEEEEE; padding-bottom:10px; padding-top:10px; }
.widget-container li:first-child{ border-top:none; }
.widget-container li:last-child{ border-bottom:none; }

.widget-recent-posts li{ border-bottom:none; margin-bottom:0px; }
.widget-recent-posts h6{ font-size:13px; margin-top:10px; margin-bottom:3px; }
.widget-recent-posts span{ font-size:11px; color:#AAAAAA; text-transform:uppercase; }
.widget-recent-posts .post-image{ float:left; margin-right:10px }
.widget-recent-posts .post-image .post-mask{ height:70px; width:70px; border-radius: 70px; position:absolute }


.avatar-mask{ height:70px; width:70px; border-radius: 70px;border: 3px solid green; position:absolute }
.avatar-container{ float:left; margin-right:20px; }

.about{ display: block;justify-content: center; }
.about-column{ width: 960px; margin: 0 auto;}
.main{ width: 960px; position: relative; margin: 0 auto; padding: 0px;}
.main:after { content: "\0020"; display: block; height: 0; clear: both; visibility: hidden; }

.main .row{}
.main .row:before,.row:after { content: '\0020'; display: block; overflow: hidden; visibility: hidden; width: 0; height: 0; }
.main .row:after{clear: both; }
.main .row{zoom: 1;}

.main .wrap-col{margin:10px;}

.main .col-1-2, .main .col-1-3, .main .col-2-3, .main .col-1-4, .main .col-2-4, .main .col-3-4, .main .col-1-5, .main .col-2-5, .main .col-3-5, .main .col-4-5, .main .col-1-6, .main .col-2-6, .main .col-3-6, .main .col-4-6, .main .col-5-6{
    float:left; display: inline-block;}

.main .col-full{width:100%;}

.main .col-1-2{width:50%;}

.main .col-1-3{width:33.33%;}
.main .col-2-3{width:66.66%;}

